In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("plot_summaries.txt", sep='\t', names=['wiki_movie_id', 'summary'], header=None)
df.head()

   wiki_movie_id                                            summary
0       23890098  Shlykov, a hard-working taxi driver and Lyosha...
1       31186339  The nation of Panem consists of a wealthy Capi...
2       20663735  Poovalli Induchoodan  is sentenced for six yea...
3        2231378  The Lemon Drop Kid , a New York City swindler,...
4         595909  Seventh-day Adventist Church pastor Michael Ch...

In [3]:
def preprocess(text):
    text = text.lower()
    return text

In [4]:
df['summary'] = df['summary'].map(lambda x: preprocess(x))
df.head()

   wiki_movie_id                                            summary
0       23890098  shlykov, a hard-working taxi driver and lyosha...
1       31186339  the nation of panem consists of a wealthy capi...
2       20663735  poovalli induchoodan  is sentenced for six yea...
3        2231378  the lemon drop kid , a new york city swindler,...
4         595909  seventh-day adventist church pastor michael ch...

In [5]:
df.to_csv("cloud_run_data.csv")